<a href="https://colab.research.google.com/github/shjshjhshj/class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [10]:
URL = ('http://apis.data.go.kr/B551177/StatusOfPassengerWorldWeatherInfo/'
       'getPassengerArrivalsWorldWeather?'
       'serviceKey=ttkbFJE3BclD7LePyeR65I5jzC9qSvjPPRhvqL%2FupX81gOanw8XAI7hEeTpTGyig13Rk8pdZo%2FT6bWWFkE%2BxCg%3D%3D'
       '&numOfRows=10'
       '&pageNo=1'
       '&from_time=0000'
       '&to_time=2400'
       '&lang=K'
       '&type=json')
response = requests.get(URL)

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [12]:
r = response.json()
r

{'response': {'body': {'items': [{'airline': '대한항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '8',
     'estimatedDateTime': '0455',
     'exitnumber': 'B',
     'flightId': 'KE012',
     'gatenumber': '266',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P03',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '아에로멕시코',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '8',
     'estimatedDateTime': '0455',
     'exitnumber': 'B',
     'flightId': 'AM6701',
     'gatenumber': '266',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P03',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '델타항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '8',
     'estimatedDateTime': '0455',
     'exitnumber': 'B',
     'flightId': 'DL9043',
     'gatenumber': '266',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P03',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '란항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '8',
     'estimatedDateTime': '0455',
     'exitnumber': 'B',
     'flightId': 'LA8425',
     'gatenumber': '266',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P03',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '대한항공',
     'airport': '마닐라',
     'airportCode': 'MNL',
     'carousel': '6',
     'estimatedDateTime': '0500',
     'exitnumber': 'B',
     'flightId': 'KE624',
     'gatenumber': '254',
     'himidity': '94',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '23.2',
     'temp': '24.0',
     'terminalid': 'P03',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon02',
     'wind': '2.1',
     'yoil': '화'},
    {'airline': '아시아나항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '17',
     'estimatedDateTime': '0500',
     'exitnumber': 'D',
     'flightId': 'OZ203',
     'gatenumber': '31',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P01',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '유나이티드항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '17',
     'estimatedDateTime': '0500',
     'exitnumber': 'D',
     'flightId': 'UA7288',
     'gatenumber': '31',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P01',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '코파항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '17',
     'estimatedDateTime': '0500',
     'exitnumber': 'D',
     'flightId': 'CM8003',
     'gatenumber': '31',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P01',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '싱가포르항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '17',
     'estimatedDateTime': '0500',
     'exitnumber': 'D',
     'flightId': 'SQ5703',
     'gatenumber': '31',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P01',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'},
    {'airline': '타이항공',
     'airport': '로스앤젤레스',
     'airportCode': 'LAX',
     'carousel': '17',
     'estimatedDateTime': '0500',
     'exitnumber': 'D',
     'flightId': 'TG6742',
     'gatenumber': '31',
     'himidity': '84',
     'remark': None,
     'scheduleDateTime': '0500',
     'senstemp': '13.3',
     'temp': '13.3',
     'terminalid': 'P01',
     'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
     'wind': '0.0',
     'yoil': '화'}],
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 121},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [14]:
items = r['response']['body']['items']
items[0]

{'airline': '대한항공',
 'airport': '로스앤젤레스',
 'airportCode': 'LAX',
 'carousel': '8',
 'estimatedDateTime': '0455',
 'exitnumber': 'B',
 'flightId': 'KE012',
 'gatenumber': '266',
 'himidity': '84',
 'remark': None,
 'scheduleDateTime': '0500',
 'senstemp': '13.3',
 'temp': '13.3',
 'terminalid': 'P03',
 'wimage': 'https://odp.airport.kr/apiPortal/weather_icon/icon01',
 'wind': '0.0',
 'yoil': '화'}

In [16]:
items = r['response']['body']['items']

airport = [item['airport'] for item in items]
himidity = [item['himidity'] for item in items]
senstemp = [item['senstemp'] for item in items]
temp = [item['temp'] for item in items]
wind = [item['wind'] for item in items]

airport = pd.Series(airport)
himidity = pd.Series(himidity)   
senstemp = pd.Series(senstemp)
temp = pd.Series(temp)
wind = pd.Series(wind)

df = pd.DataFrame({ 'airport': airport, 'himidity': himidity, 'senstemp': senstemp, 'temp': temp, 'wind': wind})

In [17]:
df

  airport himidity senstemp  temp wind
0  로스앤젤레스       84     13.3  13.3  0.0
1  로스앤젤레스       84     13.3  13.3  0.0
2  로스앤젤레스       84     13.3  13.3  0.0
3  로스앤젤레스       84     13.3  13.3  0.0
4     마닐라       94     23.2  24.0  2.1
5  로스앤젤레스       84     13.3  13.3  0.0
6  로스앤젤레스       84     13.3  13.3  0.0
7  로스앤젤레스       84     13.3  13.3  0.0
8  로스앤젤레스       84     13.3  13.3  0.0
9  로스앤젤레스       84     13.3  13.3  0.0

In [ ]:
def test(sidoName):
  URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName='+sidoName+
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
  
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']

  cityName = [item['cityName'] for item in items]
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  cityName = pd.Series(cityName)
  pm10Value = pd.Series(pm10Value)   
  pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [22]:
iface = gr.Interface(test, gr.inputs.Dropdown(['로스앤젤레스 , 마닐라']), outputs=['dataframe'])
iface.launch(debug=True)

NameError: ignored